$background: #EFC69B;

@mixin flex($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    
    header {
        width: 100vw;
        height: 10vh;
        @include flex(row);
        justify-content: space-between;
        padding: 0 12px;
        

        nav {
            
            ul {
                @include flex(row);
                gap: 8px;
                list-style: none;

                li:hover {
                    background-color: #564139;
                    color: white
                }
            }
        }
        
    }

    main {
        width: 100vw;
        height: 90vh;
        
    }

}

